* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  color: black;
}
.container {
  width: 100%;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
  background-color: rgb(70, 213, 108);
  position: sticky;
  top: 0;
}
.responsive-nav {
  display: flex;
}
.nav-center {
  display: flex;
  list-style-type: none;
  align-items: center;
}
.nav-center li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 15px 30px;
  font-size: 18px;
  display: block;
  transition: all 0.3s linear;
}
.nav-center li:hover a {
  background-color: rgb(0, 0, 0);
  color: white;
}
.nav-center li a.active {
  background-color: rgb(0, 0, 0);
  color: white;
}
.nav-right {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.nav-right .fa-user {
  font-size: 20px;
  margin-left: 15px;
  cursor: pointer;
}
.navbar .logo {
  width: 25%;
}
.navbar .responsive-nav {
  width: 75%;
  align-items: center;
  justify-content: space-between;
}
.logo a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
}
.search-box {
  display: flex;
  border: 1px solid black;
  width: 220px;
  margin-top: -10px;
}
.search-box input {
  width: 80%;
  border: none;
  outline: none;
  padding: 10px 0px;
  padding-left: 2%;
}
.search-box i {
  width: 20%;
  padding: 10px 0px;
  border-left: 1px solid black;
  text-align: center;
  background-color: rgb(39, 225, 39);
  color: white;
  cursor: pointer;
}
.hamburgar-bar {
  font-size: 20px;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 10px 15px;
  animation: hamburgar 1s linear infinite alternate;
  display: none;
}
/*Img Container*/
.img-container {
  width: 100%;
  height: 93vh;
  background-image: url(imagess/img4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.img-container .model {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.img-container .model h1 {
  font-size: 4em;
  text-shadow: 5px 5px 5px black;
}
.img-container .model h2 {
  font-size: 3em;
  text-shadow: 5px 5px 5px black;
}
.img-container .model p {
  font-size: 24px;
  margin-top: 20px;
  text-shadow: 5px 5px 5px black;
}
.img-container .model a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 15px 50px;
  font-weight: bold;
  font-size: 18px;
  background-color: white;
  border: 1px solid black;
  margin-top: 20px;
  transition: all 0.3s linear;
}
.img-container .model a:hover {
  background-color: black;
  color: white;
  border-color: white;
}
.capital {
  width: 100%;
  max-width: 70%;
  margin: auto;
  height: 100vh;
  background-color: rgb(146, 252, 174);
  border-bottom: 1px solid black;
  border-radius: 10px;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 15%;
  justify-content: flex-end;
}
.title h1 {
  font-size: 2.5em;
  color: black;
  margin-top: auto;
}
.title .line {
  width: 230px;
  height: 5px;
  margin-top: 3px;
  background-color: red;
}
.capital .detail {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 100px;
}
.detail-title {
  font-size: 2.5em;
  margin-top: 20px;
}
.capital .detail img {
  width: 65%;
  margin: auto;
  border: 5px solid #f4f4f4;
}
.capital .detail .desc {
  text-indent: 60px;
  text-align: justify;
  margin-bottom: 20px;
}
.btn {
  display: block;
  width: 120px;
  text-decoration: none;
  padding: 15px 0;
  text-align: center;
  background-color: black;
  color: #f4f4f4;
  margin-bottom: 20px;
  transition: all 0.2s linear;
  border-radius: 10px;
}
.btn:hover {
  background-color: gray;
  color: #f4f4f4;
}
.city {
  margin: auto;
  margin-top: 25px;
  width: 100%;
  height: 100vh;
  max-width: 70%;
  background-color: rgb(146, 252, 174);
  border-bottom: 1px solid black;
  border-radius: 10px;
}
.city .detail {
  width: 100%;
  height: 85%;
  padding: 0 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  align-items: center;
}
.city .detail .contain-city {
  width: 100%;
  height: 80%;
  background-color: rgb(70, 213, 108);
  border-radius: 7px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 0px 5px black;
  transition: all 0.3s linear;
}
.city .detail .contain-city:hover{
  box-shadow: 0px 2px 5px black;
}
.city .detail .contain-city img{
  width: 100%;
  height: 250px;
  border: 2px solid white;
}
.city .detail .contain-city h2{
  text-align: center;
  margin-bottom: 10px;
  text-decoration: underline;
  font-size: 1.5em;
}
.city .detail .contain-city .desc{
  margin: 10px 0 20px 0;
}
.province {
  margin: auto;
  margin-top: 25px;
  width: 100%;
  height: 100vh;
  max-width: 70%;
  background-color: rgb(146, 252, 174);
  border-bottom: 1px solid black;
  border-radius: 10px;
}
.province .detail{
  width: 100%;
  height: 90%;
  padding: 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}
.province .detail .contain-province {
  width: 25%;
  height: 80%;
  background-color: rgb(70, 213, 108);
  border-radius: 7px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 0px 5px black;
  transition: all 0.3s linear;
}
.province .detail .contain-province:hover{
  box-shadow: 0px 2px 5px black;
}
.province .detail .contain-province img{
  width: 100%;
  height: 120px;
  border: 2px solid white;
}
.province .detail .contain-province h2{
  text-align: center;
  margin-bottom: 15px;
  text-decoration: underline;
  font-size: 1.1em;
}
.province .detail .contain-province .desc{
  margin: 10px 0 20px 0;
}



@keyframes hamburgar {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@media (max-width: 1389px) {
  .capital {
    background-color: rgb(146, 252, 174);
    border-bottom: 1px solid black;
  }
  .capital .detail img {
    width: 80%;
    margin: auto;
    border: 5px solid #f4f4f4;
  }
  .capital .detail .desc {
    text-indent: 60px;
    text-align: justify;
    margin-bottom: 20px;
  }
}
@media (max-width: 1280px) {
  .navbar .logo {
    padding: 8px 0px;
  }
  .hamburgar-bar {
    display: block;
  }
  .responsive-nav {
    flex-direction: column;
    position: fixed;
    background-color: chartreuse;
    width: 100%;
    left: 0;
    margin-top: -100%;
    top: 10.3%;
    display: none; /*gkkkkjjjjjjjjjjjjjjjjjjjjjjjjgjgjgjgjgjgjgj*/
  }
  .navbar.responsive-nav .active {
    top: 10.3%;
  }
  .responsive-nav .nav-center {
    flex-direction: column;
    width: 100%;
    display: block;
    text-align: center;
  }
  .nav-right {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .capital .detail {
    padding: 0 70px;
  }
  .capital .detail img {
    width: 75%;
    margin-top: 10px;
  }
  .detail-title {
    font-size: 2.5em;
    margin-top: 10px;
  }
  .capital {
    height: 850px;
    border-radius: 10px;
  }
  .title h1 {
    font-size: 2.5em;
    margin-top: 2.5px;
  }
  .title .line {
    width: 150px;
  }
  .capital .detail {
    width: 100%;
    padding: 0px 10px;
  }
  .detail-title {
    font-size: 2em;
    margin-top: 10px;
  }
  .capital .detail img {
    width: 80%;
    margin: 20px;
    border: 5px solid #f4f4f4;
  }
  .capital .detail .desc {
    text-align: justify;
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  .province .detail{
    grid-template-columns: repeat(2,1fr);
  }
  .province .detail .contain-province:last-child{
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media (max-width: 992px) {
  .img-container .model h1 {
    font-size: 3em;
  }
  .img-container .model h2 {
    font-size: 2.5em;
  }
  .img-container .model p {
    font-size: 18px;
  }
  .img-container .model a {
    padding: 10px 30px;
  }
  .capital {
    max-width: 80%;
    border-radius: 10px;
  }
  .title h1 {
    font-size: 2.5em;
    margin-top: 2.5px;
  }
  .title .line {
    width: 150px;
  }
  .capital .detail {
    width: 100%;
    padding: 0px 10px;
  }
  .detail-title {
    font-size: 2em;
    margin-top: 10px;
  }
  .capital .detail img {
    width: 85%;
    margin: 20px;
    border: 5px solid #f4f4f4;
  }
  .capital .detail .desc {
    text-indent: 30px;
    text-align: justify;
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  
  .city {
    max-width: 80%;
  }
  .city .detail {
    padding: 0 70px;
  }
  .city .detail .contant-city {
    height: 75%;
  }
  .city .detail .contain-city h2{
    font-size: 1.5em;
  }
  .city .detail .contain-city img{
    height: 250px;
  }
  .city .detail .contain-city .desc {
    font-size: 18px;
    text-align: left;
  }
}
@media (max-width: 768px) {
  .img-container .model h1 {
    font-size: 2.5em;
  }
  .img-container .model h2 {
    font-size: 2em;
  }
  .img-container .model p {
    font-size: 15px;
  }
  .img-container .model a {
    padding: 8px 20px;
  }
  .capital {
    max-width: 90%;
    border-radius: 10px;
  }
  .title h1 {
    font-size: 2.5em;
    margin-top: 2.5px;
  }
  .title .line {
    width: 150px;
  }
  .capital .detail {
    width: 100%;
    padding: 0px 10px;
  }
  .detail-title {
    font-size: 2em;
    margin-top: 10px;
  }
  .capital .detail img {
    width: 85%;
    margin: 20px;
    border: 5px solid #f4f4f4;
  }
  .capital .detail .desc {
    text-indent: 30px;
    text-align: justify;
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  .btn {
    width: 85px;
    padding: 8px 0;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 15px;
  }
  .city {
    max-width: 90%;
    height: 150vh;
  }
  .city .title {
    justify-content: center;
  }
  .city .detail {
    width: 80%;
    margin: auto;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-gap: 2px;
  }
  .city .detail .contant-city {
    height: 80%;
    margin-top: 10px;
  }
  .city .detail .contain-city h2{
    font-size: 1.2em;
  }
  .city .detail .contain-city img{
    height: 200px;
  }
  .city .detail .contain-city .desc {
    font-size: 16px;
    text-align: left;
  }
}
@media (max-width: 600px) {
  .img-container .model h1 {
    font-size: 2em;
  }
  .img-container .model h2 {
    font-size: 1.5em;
  }
  .img-container .model p {
    font-size: 12px;
  }
  .img-container .model a {
    padding: 5px 15px;
  }
  .capital {
    height: 600px;
    border-radius: 10px;
  }
  .title h1 {
    font-size: 2.5em;
    margin-top: 2.5px;
  }
  .title .line {
    width: 150px;
  }
  .capital .detail {
    width: 100%;
    padding: 0px 10px;
  }
  .detail-title {
    font-size: 2em;
    margin-top: 10px;
  }
  .capital .detail img {
    width: 85%;
    margin: 20px;
    border: 5px solid #f4f4f4;
  }
  .capital .detail .desc {
    text-indent: 30px;
    text-align: justify;
    margin-bottom: 10px;
    font-size: 1em;
  }
  .btn {
    width: 60px;
    padding: 8px 0;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 10px;
  }
}
@media (max-width: 500px) {
  .img-container .model h1 {
    font-size: 1.5em;
  }
  .img-container .model h2 {
    font-size: 1em;
  }
  .img-container .model p {
    font-size: 8px;
  }
  .img-container .model a {
    font-size: smaller;
    padding: 4px 8px;
  }
  .responsive-nav {
    margin-top: -100%;
  }
  .capital {
    height: 600px;
    border-radius: 10px;
  }
  .title h1 {
    font-size: 2.5em;
    margin-top: 2.5px;
  }
  .title .line {
    width: 150px;
  }
  .capital .detail {
    width: 100%;
    padding: 0px 10px;
  }
  .detail-title {
    font-size: 2em;
    margin-top: 10px;
  }
  .capital .detail img {
    width: 90%;
    margin: 20px;
    border: 5px solid #f4f4f4;
  }
  .capital .detail .desc {
    text-indent: 30px;
    text-align: justify;
    margin-bottom: 10px;
    font-size: 1em;
  }
  .btn {
    width: 60px;
    padding: 8px 0;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 10px;
  }
  .city {
    max-width: 90%;
    height: 150vh;
  }
  .city .detail {
    width: 100%;
  }
}
